@media only screen and (max-width: 640px) {

    .nav-right{
        display: flex;
        justify-content: left;
        margin-right: 20px;
        
        
    }

    .bnnr{
        width: 100%;
        height: 50vh;
        /* border: 1px solid red; */
       
    }
    .bnnr-img{
        display: none;
    }
    .bnnr-img2{
        display: block;
        width: 100%;
        filter: blur(2px);
    }

    .bnnr-h1{
        
        top: 150px;
        left: 10px;
        font-size: 50px;
        color: #fff;
        text-align: center;
    }
    .bnnr-h2{
        
        top: 280px;
        left: 5px;
        font-size: 30px;
        color: #fff;
        text-align: center;
    
    }
    .bnnr-btn{
        top: 400px;
    left: 120px;

    }


    .info{
        width: 100%;
        height: 160vh;
        /* border: 1px solid red; */
    }
    .infoimg{
        width: 100px;
        display: none;
    }
    .info-img{
        display: none;
    }
    .info-txt{
        width: 100%;
        height: 100%;
    }
    .info-pm{
        padding: 15px;
        font-size: 16px;
        
    }

    .info-p1{
        margin-top: 200px;
    }
    .info-btn{
        margin-left: 120px;
    }



    .goal{
        width: 100%;
        height: 120vh;
        display: block;
    }
    .goal-img{
        width: 100%;
        height: 40%;
        
    }
    .golimg{
        width: 90%;
        margin-top: 15px;
    }
    .golimg2{
        display: block;
    }
    .goal-txt{
        width: 100%;
        height: 40%;
        /* border: 1px solid blue; */
        margin-left: 0;
        border-radius: 5px;
    }
    .goal-p{
        font-size: 16px;
        padding: 10px;
    }
    .goal-h1{
        font-size:40px ;
    }

    .obj{
        width: 100%;
        height: 145vh;
        /* border: 1px solid red; */
    }
    .obj-h1{
        margin-top: 0px;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .obj-p1{
        text-align: left;
        padding: 20px;
        margin-bottom: 10px;
    }
    .objp{
        margin-left: 0px;
    }

    .contact{
        width: 100%;
        height: 75vh;

    }
    .conbox{
        width: 100%;
        height: 100%;
        display: block;
    }
    .con-left{
        height: 40%;
        width: 100%;
    }
    .con-right{
        height: 50%;
        width: 100%;

    }
    .map{
        margin-left: 22px;
        width: 90%;
        height: 90%;
    }
    .con-margin{
        margin-top: 0px;
    }
    .conp{
        font-size: 18px;
        margin-left: 25px;
        margin-top: 5px;
    }

    .cprt{
        margin-top: 0px;
        height: 40px;
    }
}