*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: poppins, sans-serif;
}
#particles-js{
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
            
    
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.6)), url(bgop.jpg);
}

.box{
    
    width: 35%;
    height: 75%;
    border: 1px solid rgba(255,255,255,0.3);
    position: absolute;
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);


}

.name{
    font-size: 20px;
}
.dep{
  color: #fff;
  font-size:25px ;
}


  
  .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 40px;
    color: rgb(172, 179, 85);
    padding: 10px;
    float: right;
    margin-right: 15px;
    margin: 20px 20px 30px 0;
    transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  form .textarea1{
    height: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  form .textarea1 textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  
  .textarea textarea:focus{
   
    border: 2px solid rgb(255, 143, 68);
    border-bottom: 4px solid rgb(255, 121, 68);
    border-radius: 8px;
  }
  .textarea1 textarea:focus{
    border: 1px solid rgb(255, 143, 68);
    border-bottom: 3px solid rgb(255, 121, 68);
    border-radius: 8px;
  }
  form .btn{
    height: 45px;
    width: 100%;
    margin: 50px 0;

  }
  form .btn button{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(255, 255, 255); */
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn button:hover{
    background: #fd4;
    color: #000;
  }


/* Responsive */

@media only screen and (max-width: 600px) {
    .box{
    
        width: 90%;
        padding: 10px;
        height: 80%;
    
    
    }
    .box p{
        font-size: 15px;
        
    }
    .name{
      font-size: 25px;
  }
  .dep{
    font-size: 30px;
  }
    .star-widget label{
      font-size: 30px;
      color: rgb(172, 179, 85);
      padding: 0px;
      float: right;
      margin-right: 0px;
      margin: 40px 20px 60px 0;
      transition: all 0.2s ease;
    }
    form .btn{
      height: 45px;
      width: 90%;
      margin: 50px 0;
  
    }

    form .textarea textarea{
      height: 90%;
      width: 90%;
      outline: none;
      color: rgb(0, 0, 0);
      border: 1px solid rgb(255, 255, 255);
      border-radius: 8px;
      background: rgb(255, 255, 255);
      padding: 10px;
      font-size: 12px;
      resize: none;
    }
    form .textarea1 textarea{
      height: 90%;
      width: 90%;
      outline: none;
      color: rgb(0, 0, 0);
      border: 1px solid rgb(255, 255, 255);
      border-radius: 8px;
      background: rgb(255, 255, 255);
      padding: 10px;
      font-size: 12px;
      resize: none;
    }


  
  
  }

  span{
      color: rgb(235, 214, 28);
  }